.ShopItem {
  background: #fff;
  border: 1px solid #495057;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.ShopItem h4 {
  margin: 0 0 1rem;
}

.ShopItem:hover {
  background: #495057;
  color: #fff;
}

.ShopItem + .ShopItem {
  margin-top: 1rem;
}
